<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
    <h1>this is the show page</h1>
   <h1><%= transport.name %></h1> 
   <h1><%= transport.type %></h1> 
   <h1><%= transport.model %></h1> 

   <form action="/transport/<%=transport._id%>?_method=DELETE" method="POST">
    <button type="submit">
      Delete <%= transport.name %>
    </button>
  </form>
  <a href="/transport/update/<%=transport._id%>">Update transport</a>

  <form action="/transport/<%=transport._id%>/comments" method="POST">

    <label for="content">comment</label>
    <input type="text" name="content" id="content" >

    <button type="submit">
      post comment
    </button>

    <ul>
    
      <%transport.comments.forEach(comment => {%>
<li><%= comment.content %> </li>
<li><%= comment.user %> </li>
<li><%= comment.timestamps %> </li>
  <form action="/transport/<%= transport._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST"></form>
  <button type="submit">
    Delete comment
  </button>
  <a href="/transport/<%=transport._id%>/comments/<%=comment._id%>/updateComment">Edit comment</a>

        <% }) %>
  
    </ul>
</body>
</html>