<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
    <h1>this is the show page</h1>
   <h1><%= transport.name %></h1> 
   <h1><%= transport.type %></h1> 
   <h1><%= transport.model %></h1> 

   <form action="/transport/<%=transport._id%>?_method=DELETE" method="POST">
    <button type="submit">
      Delete <%= transport.name %>
    </button>
  </form>
  <a href="/transport/update/<%=transport._id%>">Update transport</a>
</body>
</html>